@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #4A2C7D;
    --light-purple: #6E4EAD;
    --light-gray: #dfdfdf;
    --dark-gray: #333333;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    overflow-x: hidden!important;
    max-width: 100vw!important;
    background-color: var(--light-gray);
    position: relative;
}

.main{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 5rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.main h1{
    font-size: 3rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    color: var(--purple);
    margin-bottom: 1rem;
}